body{
    background-color: black;
    font-family: monospace;
}
#mainhead{
    color: aliceblue;
    text-align: center;
    font-size: 80px;
    animation-name: headglow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-bottom: 80px;

}
img{
    margin-left: 40px;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}

@keyframes headglow{
    20%{color:rgb(255, 208, 0);}
    30%{color:rgb(200, 255, 0);}
    40%{color:rgb(60, 255, 0);}
    50%{color:rgb(0, 255, 200);}
    60%{color:rgb(0, 225, 255);}
    70%{color:rgb(0, 38, 255);}
    80%{color:rgb(212, 0, 255);}
    90%{color:rgb(255, 0, 0);}
    100%{color:rgb(255, 0, 55);}

}

h3{
    color: aliceblue;
    font-size: 30px;
    margin-left: 20px;

    display: inline-block;
    border-radius: 10px;
     animation: heg linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
            box-shadow: 0px 0px 10px white;
            padding: 5px;
}
@keyframes heg{
    from{

       box-shadow: 0px 0px 0px black;
    }
    to{
     box-shadow: 0px 0px 30px white;
    }
}
p{
    color: white;
}
div{
    width: 90%;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 10px;
    overflow: flow-root;
    font-size: 30px;
    text-align: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
            box-shadow: 0px 0px 10px white;
}
#b1{
    background-color: rgb(202, 124, 35);
}
#b2{
    background-color: rgb(78, 151, 151);
}
#b3{
    background-color: rgb(66, 211, 211);
}
#b4{
    background-color: rgb(194, 241, 22);
}
#b5{
    background-color: rgb(36, 212, 51);
}
#b6{
    background-color: rgb(214, 89, 177);
}
#b7{
    background-color: rgb(23, 202, 172);
}
#b8{
    background-color: rgb(55, 103, 235);
}
#b9{
    background-color: rgb(132, 22, 175);
}
#b10{
    background-color: rgb(223, 73, 178);
}
#b11{
    background-color: rgb(142, 179, 226);
}
#b12{
    background-color: rgb(223, 161, 28);
}
#b13{
    background-color: rgb(138, 197, 27);
}
#b14{
    background-color: rgb(75, 202, 219);
}
#b15{
    background-color: rgb(150, 206, 45);
}
#b16{
    background-color: rgb(206, 51, 172);
}
#b17{
    background-color: rgb(177, 207, 120);
}
#b18{
    background-color: rgb(122, 189, 228);
}
#b19{
    background-color: rgb(167, 224, 62);
}
#b20{
    background-color: rgb(212, 43, 72);
}
#b21{
    background-color: rgb(223, 100, 151);
}
#b22{
    background-color: rgb(176, 212, 108);
}
#b100{
    background-color: rgb(92, 188, 243);
}
#b101{
    background-color: rgb(190, 86, 92);
}

span{
        color: aliceblue;
    text-align: center;
    font-size: 80px;
    animation-name: headglow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-left: 250px;
}
li{
    text-align: left;
}
